.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin :30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.newPositionButton {
    background-color: #1462c1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.newPositionButton:hover {
    background-color: #1462c1;
}

.moreButton {
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.emptyState {
    text-align: center;
    margin-top: 50px;
}

.emptyImage {
    width: 100px;
    margin-bottom: 20px;
}
